{
  "objects": [
  {{ if eq .objectType "user" }}
    {
      "id": "{{ $.input.userName }}",
      "type": "{{ $.vars.user.object_type }}",
      "displayName": "{{ $.input.displayName }}"
    },
    {
      "id": "{{ $.input.userName }}",
      "type": "{{ $.vars.user.identity_object_type }}",
      "properties": {
        "verified": true
      }
    },
    {{ range $i, $element := $.input.emails }}
      {{ if $i }},{{ end }}
    {
      "id": "{{ $element.value }}",
      "type": "{{ $.vars.user.identity_object_type }}",
      "properties":{
        "type": "{{ $element.type }}",
        "verified": true
      }
    }
    {{ end }}
    {{ if and ($.input.externalId) (ne $.input.externalId "") }}
    ,
    {
        "id": "{{ $.input.externalId }}",
        "type": "{{ $.vars.user.identity_object_type }}",
        "properties": {
          "verified": true
        }
    }
    {{ end }}
  {{ else }}
    {
      "id": "{{ $.input.displayName }}",
      "type": "{{ $.vars.group.object_type }}",
      "displayName": "{{ $.input.displayName }}"
    }
  {{ end }}
  ],
  "relations":[
  {{ if eq .objectType "user" }}
    {{ $idRelationMap := splitn "#" 2 $.vars.user.identity_relation }}
    {{ $idObjType := $idRelationMap._0 }}
    {{ $idRelation := $idRelationMap._1 }}
    {{ $idSubjType := $.vars.user.object_type }}
    {{ $objId := $.input.userName }}
    {{ $subjId := $.input.userName }}

    {{ if eq $idObjType $.vars.user.object_type }}
    {{ $idSubjType = $.vars.user.identity_object_type }}
    {{ $subjId = $.input.userName }}
    {{ end }}
    {
      "object_type": "{{ $idObjType }}",
      "object_id": "{{ $objId }}",
      "relation": "{{ $idRelation }}",
      "subject_type": "{{ $idSubjType }}",
      "subject_id": "{{ $subjId }}"
    },
   {{ range $i, $element := $.input.emails }}
      {{ if $i }},{{ end }}
      {{ if eq $idObjType $.vars.user.object_type }}
      {{ $subjId = $element.value }}
      {{ $objId := $.input.userName }}
    {{ else }}
      {{ $subjId := $.input.userName }}
      {{ $objId = $element.value }}
    {{ end }}
    {
      "object_type": "{{ $idObjType }}",
      "object_id": "{{ $objId }}",
      "relation": "{{ $idRelation }}",
      "subject_type": "{{ $idSubjType }}",
      "subject_id": "{{ $subjId }}"
    }
    {{ end }}
    {{ if and ($.input.externalId) (ne $.input.externalId "") }}
    ,
    {{ if eq $idObjType $.vars.user.object_type }}
      {{ $objId := $.input.userName }}
      {{ $subjId = $.input.externalId }}
    {{ else }}
      {{ $objId = $.input.externalId }}
      {{ $subjId = $.input.userName }}
    {{ end }}
    {
      "object_type": "{{ $idObjType }}",
      "object_id": "{{ $objId }}",
      "relation": "{{ $idRelation }}",
      "subject_type": "{{ $idSubjType }}",
      "subject_id": "{{ $subjId }}"
    }
    {{ end }}
    {{ if and ($.input.manager_relation) (ne $.input.manager_relation "") }}
    {{ $manager := index .input "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User" }}
    {{ if $manager }}
    {{ if and ($manager.manager.value) (ne $manager.manager.value "") }}
    ,
    {
      "object_type": "{{ $.vars.user.object_type }}",
      "object_id": "{{ $.input.userName }}",
      "relation": "{{ $.vars.user.manager_relation }}",
      "subject_type": "{{ $.vars.user.object_type }}",
      "subject_id": "{{ $manager.manager.value }}"
    }
    {{ end }}
    {{ end }}
    {{ end }}
   {{ else }}
   {{ $members := index .input "members" }}
    {{ if $members }}
    {{ range $i, $member := $members }}
    {{ if $i }},{{ end }}
    {
      "object_type": "{{ $.vars.group.object_type }}",
      "object_id": "{{ $.input.displayName }}",
      "relation": "{{ $.vars.group.group_member_relation }}",
      "subject_type": "{{ $.vars.user.object_type }}",
      "subject_id": "{{ $member.value }}"
    }
    {{ end }}
    {{ end }}
   {{ end }}
  ]
}
